<div class="container">
    <div class="row">
        <img src="assets/cocinero.jpg" class="img-fluid">
    </div>
    <div class="row">
        <h1 *ngIf="comidaSugerida.nueva">
            ¿No querés probar esta nueva comida: {{comidaSugerida.nombre}}?
        </h1>
        <h1 *ngIf="!comidaSugerida.nueva">
            Acaso .... hoy .... querés comer {{comidaSugerida.nombre}}? Hace {{comidaSugerida.dias}} días que no comes....
        </h1>
        <h1 *ngIf="comidaSugerida.id == -1">
            Que la disfrutes
        </h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-secondary" (click)="volver()">Volver</button>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary" (click)="sugerirComida()">No me convence</button>
        </div>
        <div class="col-md-4">
            <button *ngIf="comidaSugerida.id == -1" type="submit" class="btn btn-primary" disabled>SI</button>
            <button *ngIf="comidaSugerida.id != -1" type="submit" class="btn btn-primary" (click)="registrarComida()">SI</button>
        </div>
    </div>
    <div class="row" *ngIf="altaExitosa">
        <span>La comida {{comidaSugerida.nombre}} fue registrada</span>
    </div>
    <div class="row" *ngIf="altaConError">
        <span>La comida {{comidaSugerida.nombre}} no pudo ser registrada. Inténtelo más tarde</span>
    </div>
</div>