<div class="container">
    <div class="row">
        <img src="assets/cocinero.jpg" class="img-fluid">
    </div>
    <div class="row">
        <h1>¿ACASO .... HOY.... QUERÉS COMER CACA?</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-secondary" (click)="volver()">Volver</button>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">No me convence</button>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">SI</button>
        </div>
    </div>
</div>